body {
  font-family: 'Lato', serif;
  background-color: whitesmoke;
  color: black;
}

.jumbotron {
  background-color: navy;
  color: white;
  border-radius: 0;
}

.container {
  margin-bottom: 20px;
}

a {
  font-weight: bold;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

code, .code {
  background-color: black;
  color: lime;
}

.table-responsive {
  box-shadow: 10px 10px 5px grey;
  background-color: white;
}

.form-control {
  border-color: transparent;
  border-radius: 0;
}

.form-control:focus {
  border-color:  transparent;
  box-shadow: 0 0 0 0.2rem navy;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.mysql-logo {
  height: 30vmin;
}

.github-link {
  color: white;
}

.github-link:hover {
  text-decoration: none;
  color: whitesmoke;
}

.github-logo {
  height: 23px;
}

.stock-data-title-column {
  background-color:  navy;
  color: white;
}

.stock-data-cell {
  background-color: white;
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.btn-custom {
  background-color: navy;
  color: white;
}

.btn-custom:hover {
  color:white;
  background-color:#0000AE;
  border-color: #0000AE;
  box-shadow: none;
}       

.btn-custom:focus {
  color:white;
  background-color:#0000AE;
  border-color: #0000AE;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-link:hover, .App-link:focus {
  color: #2EA7C8;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  border-color: black;
}

/*Websys parameters...*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid navy;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit; 
}
 

::-webkit-scrollbar-thumb {
  background: slategray; 
}


::-webkit-scrollbar-thumb:hover {
  background: lightslategray;
}